@import "../node_modules/bootstrap/scss/bootstrap.scss";

$background: #e8f5ff;
$highlight: #6c63ff;
$secondary-highlight: #575a89;

a:hover {
  text-decoration: underline;
}

.highlight {
  color: $highlight;
}

.secondary-highlight {
  color: $secondary-highlight;
}

header {
  margin-bottom: 10rem;
}

.card-section {
  margin-top: 10rem;
}

.card-img {
  font-size: 5rem;
}

.card-m-2 {
  margin: 3.2rem;
}

.hero-section {
  background-color: $background;
}

.about-us-main {
  background-color: $background;
}

.contact-section-hero {
  background-color: $background;
  padding: 6rem;
  position: relative;
  bottom: 3.5rem;
}

#map {
  height: 100%;
}

.contact-cards-section {
  bottom: 5rem;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 1199.98px) {
  header {
    margin-bottom: 8rem;
  }

  .card-m-2 {
    margin: 2.1rem;
  }

  .contact-section-hero {
    background-color: $background;
    padding: 4.5rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  header {
    margin-bottom: 2rem;
  }

  .contact-section-hero {
    padding: 1.5rem;
    bottom: 0rem;
  }
}
