@import "../node_modules/bootstrap/scss/bootstrap.scss";

a:hover {
  text-decoration: underline;
}

header {
  margin-bottom: 10rem;
}

.card-section {
  margin-top: 10rem;
}

.card-img {
  font-size: 5rem;
}

.card-m-2 {
  margin: 3.2rem;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 1199.98px) {
  header {
    margin-bottom: 8rem;
  }

  .card-m-2 {
    margin: 2.1rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  header {
    margin-bottom: 2rem;
  }
}
